    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Who We Are</h2>
              <br/>
                <p><h2>About Us</h2></p>
				<p><h2>SoDak Screens is more than just graphics – We are your Marketing Partner</h2></p>
                <p>SoDak Screens is a family-owned, rural screen printing business located in South-Central South Dakota.  We are proud to support local community businesses and help them expand in the area. </p>

<p>SoDak Screens has the ability to create custom screening options for all manner of shirts, totes/bags, and posters.  Our custom vinyl creations give our customers the ability to market outside of the box and push their brand to different advertising platforms, from the sign along the road to the back window of the minivan in front of you.</p>

<p><h3>Our Passion</h3></p>
<p>Service is the cornerstone of SoDak Screens; we strive for the highest in customer service/customer relations.  We pride ourselves in the ability to work with our clients to create the highest quality image, logo or screened garment possible.</p>

<p>We are creators first, artists at heart.  We love working with clients to help create logos that match the spirit of the business. We live to see the shirts come alive with custom color and imagery.  We enjoy the working process to create something new and exciting!</p>

               
                <br/>
              </div>
        </div>
    </section>
